html {
    font-size: 10px;
    height: 100%;
    background: url("./background (1).jpg") bottom center no-repeat;
    background-size: cover;
}

.keys {
    display: flex;
    flex: 1;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: 5px solid black;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
    padding: 10px 5px;
    width: 100px;

    color: white;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px black;
    text-align: center;
}

.key div {
    font-size: 40px;
}

.key .sound {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffc600
}