<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .done {
            text-decoration: line-through;
            color: gray;
        }
    </style>
</head>

<body>
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.min.js"></script>
    <!-- 挂载点，vue 作用范围 -->
    <div id="app">
        <h2>{{title}}</h2>
        <input type="text" v-model="title" @keydown.enter="addTodo" />
        <ul>
            <li v-for="todo in todos">
                <input type="checkbox" v-model="todo.done">
                <span :class="{done:todo.done}">{{todo.title}}</span>
            </li>

        </ul>
        <div>
            全选<input type="checkbox" v-model="allDone" />
            <span>{{active}}/{{all}}</span>
        </div>
    </div>
    <script>
        const app = {
            data() {
                return {
                    title: 'Vue3 学习',
                    todos: [
                        { title: "吃饭", done: true },
                    ]
                }
            },
            computed: {
                active() {
                    return this.todos.filter(todo => !todo.done).length
                },
                all() {
                    return this.todos.length
                },
                allDone: {

                    get() {
                        // this -> 计算属性
                        return this.active === 0
                    },
                    set(val) {
                        // 数据和界面要保持一致
                        this.todos.forEach(todo => todo.done = val)
                    }
                }

            },
            methods: {
                addTodo() {
                    this.todos.push({ title: this.title, done: false })
                    this.title = '';
                }
            }

        }
        Vue.createApp(app).mount('#app')
    </script>
</body>

</html>